

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title  style="text-align: center;font-weight: 600;text-transform: capitalize;">
     My Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding  class="main-content">
<ion-list style="margin-top: 10px;" >
  <ion-item  *ngFor="let note of notes | async"  (click)="navigateToViewtNote(note.createDate)" >
    <label class="date">{{note.date | date:'shortDate' }}</label>
  <button    class="title-btn"   >
   {{note.title}} 
  </button>
</ion-item>
</ion-list>

  <button  class="add-btn"   (click)="addNote()">Add Note</button>
  
 
</ion-content>
